@{
    ViewData["Title"] = "Home Page";
}


<div class="d-flex flex-column flex-wrap flex-md-row p-4 gap-4 py-md-5 align-items-center justify-content-center">
    <div class="list-group filmlist">
        <img src="C:\Users\REVIVE\source\repos\MyCinema\wwwroot\Images\Xmen.jpg" class="img-fluid img-thumbnail FilmImage" width="300px" height="300px" alt="">
        <p class="mt-2 fs-2 text-center fw-bold">X-Men</p>
    </div>
</div>