html {
    font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.FilmImage:hover {
    opacity: 0.3;
    cursor: pointer;
}

.FilmImage {
    opacity: 1;
    display: block;
    height: auto;
    transition: 0.5s ease;
    backface-visibility: hidden;
}
.grid-item {
    background-color: lightblue;
    border: 1px solid #ccc;
    cursor: pointer;
    transition: background-color 0.3s;
}

    .grid-item:hover {
        background-color: lightcoral;
    }

.clicked {
    background-color: red;
}
