html {
    font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.filmlist:hover {
    opacity: 0.3;
    cursor: pointer;
}

.filmlist {
    opacity: 1;
    display: block;
    height: auto;
    transition: 0.5s ease;
    backface-visibility: hidden;
    cursor: pointer;
    border: 2px solid black;
}
.grid-item {
    background-color: lightblue;
    border: 1px solid #ccc;
    cursor: pointer;
    transition: background-color 0.3s;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 2px;
}

    .grid-item:hover {
        background-color: lightcoral;
    }

.clicked {
    background-color: red;
}
.screen {  
    width: 100%;
    height: 50px;
    background-color: #333;
    color: white;
    text-align: center;
    line-height: 50px;
    margin-bottom: 20px;
}
